.box {
  position: absolute;
}

.box .pins-img {
  position: relative;
  cursor: cell;
}

.box .pins-img::before {
  content: attr(data-name);
  transform: translateX(-90%);
  background-color: #b20000;
  color: #fff;
  padding: 4px 5px;
  height: auto;
  width: auto;
  font-size: 13px;
  height: auto;
  text-align: center;
  border-radius: 10px;
  font-weight: 600;
  white-space: nowrap;
  opacity: 1;
  transition: all 0.3s ease;
  /* position: absolute; */
}

p.name{
  font-size: 14px;
}

.box .pins-img img {
  position: relative;
  float: right;
  width: 30px;
}

.box .hanging-poles .bar-one,
.box .hanging-poles .bar-two {
  position: absolute;
  height: 1px;
  background-color: #fff;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.box .hanging-poles .bar-one {
  width: 59px;
  top: -20%;
  left: 67%;
  transform: rotate(-61deg);
}

.box .hanging-poles .bar-two {
  top: -88%;
  left: 105%;
  width: 181px;
}

.box:hover .hanging-poles .bar-one,
.box:hover .hanging-poles .bar-two {
  opacity: 1;
  visibility: visible;
}

.box .data {
  position: absolute;
  top: -600%;
  left: 85%;
  width: 240px;
  padding-bottom: 10px;
  height: auto;
  z-index: 9999;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}

.box:hover .data {
  opacity: 0.9;
  visibility: visible;
}

.box .data h6 {
  background-color: #b20000;
  color: #fff;
  text-align: center;
  padding: 6px 0;
  font-size: 16px;
  margin: 0;
}

.box .data .box-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  margin: 5px 0;
}

.box .data .box-info p,
.box .data .box-info span {
  margin: 0;
  padding: 0;
  font-weight: 800;
}

.box .data .box-info .bar {
  background: #b9b9b9;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 5px;
  width: 47%;
}

.box .data .box-info .bar .side {
  height: 5px;
  background-color: #616161 !important;
}

/* location pins in map */

.box.box-1 {
  top: 14%;
  left: 11%;
}

.box.box-2 {
  top: 29%;
  left: 14%;
}

.box.box-3 {
  top: 40%;
  left: 32%;
}

.box.box-4 {
  top: 54%;
  left: 32%;
}

.box.box-5 {
  top: 76%;
  left: 53%;
}

.box.box-6 {
  top: 90%;
  left: 55%;
}

.box.box-7 {
  top: 72%;
  left: 70%;
}

.box.box-8 {
  top: 63%;
  left: 70%;
}

.box.box-9 {
  top: 50%;
  left: 69%;
}

.box.box-10 {
  top: 36%;
  left: 71%;
}

.box.box-11 {
  top: 23%;
  left: 56%;
}

.box.box-12 {
  top: 34%;
  left: 44%;
}

.box.box-13 {
  top: 44%;
  left: 58%;
}

.box.box-14 {
  top: 48%;
  left: 51%;
}

.box.box-15 {
  top: 56%;
  left: 49%;
}

.box.box-16 {
  top: 68%;
  left: 55%;
}

.box.box-17 {
  top: 60%;
  left: -19%;
}